.part {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .part img {
    width: 10vw;
    height: 30vh;
    object-fit: contain;
    margin-right: 15px;
  }

  @media screen and (max-width: 480px) {

    .part img {
      width: 40vw;
      height: 10vh;
      object-fit: contain;
      margin-bottom: 15px;
    }
    .part {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  